<%- include('../partials/Structure/head.ejs') %>

<h1>Welcome to Dan's Sport Blog</h1>
<div><a href="/login">Login</a></div>
<div><a href="/register">Register</a></div>
<div><a href="/articles">View Articles</a></div>
<div><a href="/addArticle">Add Article</a></div>

<%- include('../partials/Structure/body.ejs') %>
