<%- include('../partials/Structure/head.ejs') %>
<h1>Register</h1>

<form method="POST" action="/register">
    <div class="container">
      
      <div class="input-group mb-3">  
        <span class="input-group-text" id="basic-addon1">User Name</span>
        <input
        required
          name="username"
          type="text"
          class="form-control"      
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Password </span>
     <input
     required
     name="password"
      type="password"
      class="form-control"  
      aria-label="Category"
      aria-describedby="basic-addon1"
    />
    </div>
    
      
      <div class="input-group mb-3">
        <span class="input-group-text">Confirm Password</span>
        <input
        required
        name="confirm_password" 
         type="password"
         class="form-control"     
         aria-label="Added_by"
         aria-describedby="basic-addon1"
       />
       </div>
    
        <input type="submit" value="Register" class="btn btn-primary"></input>    
      </div>
    </div>
    </form>
    <div>
        <a href="/login">Already have an account?</a>
    </div>
<%-include('../partials/Structure/body.ejs') %>
