
<div class="container">
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="/articles" class="nav-link px-2 link-dark">Articles</a></li>          
          <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>      
        <% if (authStatus) { %>
          <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="/addArticle">Add Article</a></li> 
              <!-- <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li> -->
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
          </div>
          <%} else { %>
            <div class="col-md-3 text-end">
              <a href="/login" class="btn btn-sm btn-outline-secondary">Login</a>
              <a href="/register" class="btn btn-sm btn-outline-secondary">Sign-up</a>
            </div>
          <% } %>               
      </header>
    </div>